.field {
  margin: 8px 0;
}

.label {
  display: flex;
  line-height: 32px;

  .label_text {
    white-space: nowrap;
    margin-right: 1em;
    width: 70px;
  }

  .control {
    width: 100%;
  }

  input {
    height: 32px;
  }
}

.main {
  //margin: 20px 100px 20px 0px;
}
.btn_container{
  //text-align: center;
  margin-top: 15px;
  button{
    width: 50px;
    height: 30px;
  }
}
