@import "./theme.module.scss";
.coverContainer{
  height: 100vh;
  width: 100vw;
  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin: auto;
    width: 417px;
    height: 249px;
    background-color: #ffffff;
    border: 1px solid $week-black;
    .title {
      font-size: 30px;
    }
    .motto{
      color:$week-black;
    }
    img {
      width: 120px;
      height: 120px;
    }
    p {
      padding: 10px;
    }
    .entry{
      margin-top: 20px;
      padding: 5px 90px;
      border: solid 1px $week-black;
      cursor: pointer;
    }
  }
}

